{% extends "auth/layout/_custom_base.html" %}

{% block content %}

<div class="login row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        
        <div class="box">
            <div class="brand lg text-center">
                &lt; KIMBLE &gt;
            </div>
            <form id="login_form" action="{{ url_for( 'auth.auth_login' ) }}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.account.label }}
                    <div class="col">
                        {{ form.account( class="form-control" ) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    <div class="col">
                        {{ form.password( class="form-control" ) }}
                    </div>
                </div>
                <div class="form-check pb-3">
                    {{ form.remember_me( class="form-check-input" ) }}
                    {{ form.remember_me.label( class="form-check-label" ) }}
                </div>
                <div class="col">
                    <input type="submit" value="Login" class="btn btn-tomato w-100">
                </div>
            </form>
        </div>
    </div>    
    <div class="col-md-4"></div>
</div>

{% endblock %}