{% extends "admin/layout/_custom_base.html" %}
{% block content %}

<form id="new_category" action="{{ url_for( 'admin.new_subcategory', cat_alias=data.cat_alias ) }}" method="POST">

    <div class="row">
        <div class="col-12">
            <h1>NUEVA SUBCATEGORIA_</h1>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="box mb-4">
                
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.name.label }}
                    <div class="col-12">
                        {{ form.name( class="form-control" ) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.alias.label }}
                    <div class="col-12">
                        {{ form.alias( class="form-control" ) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    <div class="col">
                        {{ form.description( class="form-control" ) }}
                    </div>
                </div>

            </div>
            <div class="d-lg-none d-xl-none d-xxl-none">
                <div class="row mb-3">
                    <div class="col-12 mb-3">
                        <a href="{{ ctx.backward }}" class="btn btn-tomato foreward w-100">VOLVER</a>
                    </div>
                    <div class="col-12">
                        <input type="submit" value="CREAR" class="btn btn-tomato w-100">
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block">
                <div class="row mb-3">
                    <div class="col-3">
                        <a href="{{ ctx.backward }}" class="btn btn-tomato foreward w-100">VOLVER</a>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-3">
                        <input type="submit" value="CREAR" class="btn btn-tomato w-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

</form>

{% endblock %}